name: Workflows github

on: [push, pull_request]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install flake8 nose

      - name: Lint with flake8
        run: flake8 .
      
      - name: Run tests with nose 
        run: nosetests --with-xunit --xunit-file=nosetests-junit.xml

      - name: Upload JUnit Report
        uses: actions/upload-artifact@v4
        with:
          name: junit-report
          path: nosetests-junit.xml

